In [7]:
import pandas as pd

In [8]:
df=pd.read_csv(r"C:\Users\aloks\Downloads\historical_data.csv")

In [9]:
df.head()

,Account,Coin,Execution Price,Size Tokens,Size USD,Side,Timestamp IST,Start Position,Direction,Closed PnL,Transaction Hash,Order ID,Crossed,Fee,Trade ID,Timestamp
0,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9769,986.87,7872.16,BUY,02-12-2024 22:50,0.000000,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.345404,8.950000e+14,1.730000e+12
1,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9800,16.00,127.68,BUY,02-12-2024 22:50,986.524596,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.005600,4.430000e+14,1.730000e+12
2,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9855,144.09,1150.63,BUY,02-12-2024 22:50,1002.518996,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050431,6.600000e+14,1.730000e+12
3,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9874,142.98,1142.04,BUY,02-12-2024 22:50,1146.558564,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050043,1.080000e+15,1.730000e+12
4,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9894,8.73,69.75,BUY,02-12-2024 22:50,1289.488521,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.003055,1.050000e+15,1.730000e+12

In [10]:
df['Timestamp IST'] = pd.to_datetime(df['Timestamp IST'])

# Extract year and get unique values
unique_years = df['Timestamp IST'].dt.year.unique()
print(unique_years)

[2024 2025 2023]

In [11]:
#converting the timestamp column to date column and renaming it to date
df['date'] = pd.to_datetime(df['Timestamp IST']).dt.date
df.head()

,Account,Coin,Execution Price,Size Tokens,Size USD,Side,Timestamp IST,Start Position,Direction,Closed PnL,Transaction Hash,Order ID,Crossed,Fee,Trade ID,Timestamp,date
0,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9769,986.87,7872.16,BUY,2024-02-12 22:50:00,0.000000,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.345404,8.950000e+14,1.730000e+12,2024-02-12
1,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9800,16.00,127.68,BUY,2024-02-12 22:50:00,986.524596,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.005600,4.430000e+14,1.730000e+12,2024-02-12
2,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9855,144.09,1150.63,BUY,2024-02-12 22:50:00,1002.518996,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050431,6.600000e+14,1.730000e+12,2024-02-12
3,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9874,142.98,1142.04,BUY,2024-02-12 22:50:00,1146.558564,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050043,1.080000e+15,1.730000e+12,2024-02-12
4,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9894,8.73,69.75,BUY,2024-02-12 22:50:00,1289.488521,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.003055,1.050000e+15,1.730000e+12,2024-02-12

In [12]:
#removing the Timestamp IST column
df.drop(columns=['Timestamp IST'], inplace=True)

In [14]:
#checking for missing values
missing_values=df.isnull().sum()
print(missing_values)
#no missing values found

Account             0
Coin                0
Execution Price     0
Size Tokens         0
Size USD            0
Side                0
Start Position      0
Direction           0
Closed PnL          0
Transaction Hash    0
Order ID            0
Crossed             0
Fee                 0
Trade ID            0
Timestamp           0
date                0
dtype: int64

In [22]:
#renaming the timestamp column
df.rename(columns={'Timestamp': 'timestamp'}, inplace=True)

In [15]:
#importing the sentiment data
df1=pd.read_csv(r"C:\Users\aloks\Downloads\fear_greed_index.csv")

In [16]:
#looking at the first five rows in the sentiment data
df1.head()

    timestamp  value classification        date
0  1517463000     30           Fear  2018-02-01
1  1517549400     15   Extreme Fear  2018-02-02
2  1517635800     40           Fear  2018-02-03
3  1517722200     24   Extreme Fear  2018-02-04
4  1517808600     11   Extreme Fear  2018-02-05

In [17]:
#checking for missing values in sentiment data
missing_values_2=df1.isnull().sum()
print(missing_values_2)
#no missing values found

timestamp         0
value             0
classification    0
date              0
dtype: int64

In [19]:
#renaming the Timestamp column  in our sentiment dataset
df1.rename(columns={'Timestamp': 'timestamp'}, inplace=True)

In [20]:
df1['date'] = pd.to_datetime(df1['date'])

# Extract year and get unique values
unique_years = df1['date'].dt.year.unique()
print(unique_years)

[2018 2019 2020 2021 2022 2023 2024 2025]

In [26]:
#merging both the files for combined analysis
df_merged = pd.merge(df, df1, on='date', how='inner')

In [28]:
#standardising the date column format for both the tables
df['date'] = pd.to_datetime(df['date'])
df1['date'] = pd.to_datetime(df1['date'])

In [29]:
#checking the first five rows of the merged data
df_merged.head()

,Account,Coin,Execution Price,Size Tokens,Size USD,Side,Start Position,Direction,Closed PnL,Transaction Hash,Order ID,Crossed,Fee,Trade ID,timestamp_x,date,timestamp_y,value,classification
0,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9769,986.87,7872.16,BUY,0.000000,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.345404,8.950000e+14,1.730000e+12,2024-02-12,1707715800,70,Greed
1,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9800,16.00,127.68,BUY,986.524596,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.005600,4.430000e+14,1.730000e+12,2024-02-12,1707715800,70,Greed
2,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9855,144.09,1150.63,BUY,1002.518996,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050431,6.600000e+14,1.730000e+12,2024-02-12,1707715800,70,Greed
3,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9874,142.98,1142.04,BUY,1146.558564,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050043,1.080000e+15,1.730000e+12,2024-02-12,1707715800,70,Greed
4,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9894,8.73,69.75,BUY,1289.488521,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.003055,1.050000e+15,1.730000e+12,2024-02-12,1707715800,70,Greed

In [30]:
#getting initial statistical insights
df_merged.describe()

,Execution Price,Size Tokens,Size USD,Start Position,Closed PnL,Order ID,Fee,Trade ID,timestamp_x,timestamp_y,value
count,167857.000000,1.678570e+05,1.678570e+05,1.678570e+05,167857.000000,1.678570e+05,167857.000000,1.678570e+05,1.678570e+05,1.678570e+05,167857.000000
mean,10917.135406,5.116982e+03,5.389755e+03,-4.322903e+04,48.853074,6.759207e+10,1.095066,5.623287e+14,1.737162e+12,1.737330e+09,54.698547
std,29008.228358,1.133575e+05,3.699618e+04,7.271133e+05,853.621489,1.973031e+10,6.820286,3.257258e+14,9.662754e+09,8.980998e+06,20.253089
min,0.000005,2.390000e-06,0.000000e+00,-1.433463e+07,-117990.104100,1.732711e+08,-1.175712,0.000000e+00,1.680000e+12,1.672897e+09,10.000000
25%,4.243900,3.000000e+00,1.778500e+02,-6.179100e+02,0.000000,5.654734e+10,0.015122,2.800000e+14,1.730000e+12,1.734586e+09,37.000000
50%,19.039000,3.030000e+01,5.632000e+02,5.340682e+01,0.000000,7.328153e+10,0.086361,5.620000e+14,1.740000e+12,1.740116e+09,54.000000
75%,30.423000,1.804100e+02,2.014430e+03,8.128972e+03,5.340160,8.233002e+10,0.372278,8.450000e+14,1.740000e+12,1.743399e+09,73.000000
max,109004.000000,1.582244e+07,3.921431e+06,3.050948e+07,115287.000000,9.014923e+10,837.471593,1.130000e+15,1.750000e+12,1.746164e+09,94.000000

In [32]:
#renaming the account numbers to something more simplistic
# Create a mapping from original to simplified names
unique_accounts = df_merged['Account'].unique()
account_map = {acct: f"acct_{i+1}" for i, acct in enumerate(unique_accounts)}

# Apply the mapping
df_merged['account_label'] = df_merged['Account'].map(account_map)

In [39]:
#checking whether we got correct account labels by the correct accout
account_info = df_merged[['account_label', 'Account']].drop_duplicates()
print(account_info)

      account_label                                     Account
0            acct_1  0xae5eacaf9c6b9111fd53034a602c192a04e082ed
44           acct_2  0x8381e6d82f1affd39a336e143e081ef7620a3b7f
50           acct_3  0x4f93fead39b70a1824f981a54d4e55b278e9f760
67           acct_4  0x3998f134d6aaa2b6a5f723806d00fd2bbbbce891
68           acct_5  0x8477e447846c758f5a675856001ea72298fd9cb5
76           acct_6  0x3f9a0aadc7f04a7c9d75dc1b5a6ddd6e36486cf6
77           acct_7  0x28736f43f1e871e6aa8b1148d38d4994275d72c4
217          acct_8  0x2c229d22b100a7beb69122eed721cee9b24011dd
430          acct_9  0x47add9a56df66b524d5e2c1993a43cde53b6ed85
550         acct_10  0x39cef799f8b69da1995852eea189df24eb5cae3c
551         acct_11  0xa520ded057a32086c40e7dd6ed4eb8efb82c00e0
668         acct_12  0xb1231a4a2dd02f2276fa3c5e2a2f3436e6bfed23
984         acct_13  0x72c6a4624e1dffa724e6d00d64ceae698af892a0
1275        acct_14  0x23e7a7f8d14b550961925fbfdaa92f5d195ba5bd
1340        acct_15  0xbaaaf6571ab7d571043ff1e313a9609a10637864
1903        acct_16  0xa0feb3725a9335f49874d7cd8eaad6be45b27416
1951        acct_17  0x8170715b3b381dffb7062c0298972d4727a0a63b
2105        acct_18  0xb899e522b5715391ae1d4f137653e7906c5e2115
2229        acct_19  0xbee1707d6b44d4d52bfe19e41f8a828645437aab
3208        acct_20  0x4acb90e786d897ecffb614dc822eb231b4ffb9f4
3363        acct_21  0xbd5fead7180a9c139fa51a103cb6a2ce86ddb5c3
3403        acct_22  0x513b8629fe877bb581bf244e326a047b249c4ff1
3453        acct_23  0x75f7eeb85dc639d5e99c78f95393aa9a5f1170d4
3467        acct_24  0x420ab45e0bd8863569a5efbb9c05d91f40624641
3472        acct_25  0xaf40fdc468c30116bd3307bcbf4a451a7ebf1deb
5212        acct_26  0x6d6a4b953f202f8df5bed40692e7fd865318264a
5564        acct_27  0x271b280974205ca63b716753467d5a371de622ab
11158       acct_28  0x92f17e8d81a944691c10e753af1b1baae1a2cd0d
11909       acct_29  0x72743ae2822edd658c0c50608fd7c5c501b2afbd
16201       acct_30  0x430f09841d65beb3f27765503d0f850b8bce7713
35398       acct_31  0x7f4f299f74eec87806a830e3caa9afa5f2b9db8f
40981       acct_32  0x083384f897ee0f19899168e3b1bec365f52a9012

In [49]:
#saving this file as a csv
df_merged.to_csv('modified_file.csv', index=False)